<div class="container-fluid background">
  <div class="row vh-100 justify-content-center">
    <div class="col-4 my-auto">
      <mat-card class="text-center join-game-card">
        <mat-card-content>
          <h2>Join Game</h2>
          <mat-form-field appearance="outline">
            <mat-label>Game Key</mat-label>
            <input matInput [(ngModel)]="gameKey" [disabled]="loading">
            <mat-icon matSuffix *ngIf="!loading">sports_esports</mat-icon>
            <mat-icon matSuffix *ngIf="loading">
              <mat-spinner color="primary" diameter="25"></mat-spinner>
            </mat-icon>
          </mat-form-field>
          <div>
            <button mat-stroked-button color="primary" [disabled]="gameKey.length !== 6 || loading">Join</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
