<div class="container-fluid background">
  <div class="row vh-100 justify-content-center">
    <div class="col-6 my-auto">
      <mat-card class="create-game-card">
        <mat-card-title>Crear un Juego</mat-card-title>
        <mat-card-content *ngIf="loading">
          <mat-spinner color="primary" diameter="40"></mat-spinner>
        </mat-card-content>
        <mat-card-content *ngIf="!loading">
          <mat-list>
            <mat-list-item class="mat-list-item-word-wrap">
              <h3 mat-line><strong>Tiempo de Discusión</strong></h3>
              <p mat-line>Este es el tiempo permitido para discutir preguntas.</p>
              <div class="discussion-time-selector text-center">
                <mat-slider aria-label="unit(s)" [(ngModel)]="discussionTime" min="0.5" max="5" step="0.5"
                            thumbLabel [disabled]="creatingGame"></mat-slider>
                <h4>{{ discussionTime }}m</h4>
              </div>
            </mat-list-item>
            <mat-list-item class="mat-list-item-word-wrap">
              <h3 mat-line><strong>Tandas de Paz</strong></h3>
              <p mat-line>El número mínimo de tandas iniciales sin votación. Con menos jugadores o por un juego más
                largo, seleccione un número más alto.</p>
              <div class="discussion-time-selector text-center">
                <mat-slider aria-label="unit(s)" [(ngModel)]="peaceBouts" min="1" max="4" step="1"
                            thumbLabel [disabled]="creatingGame"></mat-slider>
                <h4>{{ peaceBouts }}</h4>
              </div>
            </mat-list-item>
          </mat-list>
          <div class="text-center create-game">
            <button mat-raised-button color="accent" [disabled]="creatingGame" (click)="createGame()">
              Crear
              <mat-icon *ngIf="creatingGame">
                <mat-spinner color="accent" diameter="20"></mat-spinner>
              </mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
