@import 'styles/variables';
/*@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';*/
@import '~bootstrap/dist/css/bootstrap.css';
@import 'styles/reset';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card {
  border-radius: 10px !important;
}

.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}
